body  {
    background-color: whitesmoke;
    height: 64px;
}

.logo {
    display: flex;
    padding: 16px 24px;
}

.titleAcad {
    color: grey;
    font-size: 32px;
}

.titleCol {
    font-size: 32px;
}

header {
    display: flex;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

nav p {
    padding: 16px 24px;
    color: black;
    margin: 10px;
}

.section1 {
    display: flex;
    background-color: gainsboro;
}

.section1 img {
    width: 60%;
    padding: 32px 24px;
}

.section1-content {
    align-self: center;
    padding: 24px;
}

h1 {
    font-size: 60px;
    color: grey;
}

h3 {
    font-size: 36px;
    margin-top: 24px;
}

button {
    width: 450px;
    margin-top: 30px;
    font-size: 50px;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding: 32px;
}

.deckAli {
    padding-left: 72px;
    padding-right: 72px;
}

.deckAlig {
    padding: 32px 72px;
}

.deckThesis {
    padding-left: 24px;
}

.container {
    display: flex;
}

.card-body {
    display: block;
}


@media screen and (max-width:800px) {
    
    .cardMain {
        display: none;
    }

    .card img{
        display: none;
    }

}
